
.navbarCustom {
	background: #E6C2C2;
}

.navContainer {
	padding-top: 15px;
}

.navbar-form {
	margin-right: 10px;
}

.navCheckbox {
	margin-left: 15%;
}

.userCheckbox {
	margin-left: 1rem;
	margin-right: 1rem;
}

.checkboxGroup {
	margin-top: 1rem;
}


.normalTheme {
	background: whitesmoke;
	margin: 2rem auto 0;
	width: 60%;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: darkslategrey;
}

.darkTheme {
	background: darkslategrey;
	color: whitesmoke;
	margin: 5rem auto 0;
	width: 60%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.darkTheme button {
	color: darkslategrey;
}

.largeText {
	font-size: 3rem;
}

#messagesContainer {
	margin-top: 10rem;
}

.message {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 2rem;
}

.messageText,
.messageID {
	margin: 0;
}

.messageID {
	display: inline-block;
}







/*@media (min-width: 768) {
	body {
		padding-top: 110px;
	}
}
@media (min-width: 986) {
	body {
		padding-top: 71px;
	}
}

@media (min-width: 419px) {
	body {
		padding-top: 171px;
	}
}
*/










